@import "tailwindcss";

/* Utilitário para garantir imagens responsivas */
img,
video {
  max-width: 100%;
  height: auto;
}

/* Evita overflow horizontal */
body,
html,
#root {
  width: 100vw;
  overflow-x: hidden;
}

/* Ajuste para textos longos em telas pequenas */
.break-words {
  word-break: break-word;
}
